# in K
initial_temperature:0.1

# number of particles
n_particles:100

# in units of Gamma (spontaneous decay rate)
rabi_frequency:0.1

# in units of 1/(max absorption rate)
time_step:0.05
# in units of 1/(max absorption rate)
duration:1e5

# in units of Gamma (spontaneous decay rate)
initial_detuning:-10
final_detuning:-0.5
# in units of Gamma*(max absorption rate)
detuning_ramp_rate:1.9e-4
